<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @fan.email %>
</p>

<p>
  <b>Fan:</b>
  <%= @fan.fan %>
</p>

<p>
  <b>League:</b>
  <%= @fan.league_id %>
</p>

<p>
  <b>Password:</b>
  <%= @fan.password %>
</p>

<p>
  <b>Fan:</b>
  <%= @fan.fan_id %>
</p>

<p>
  <b>User name:</b>
  <%= @fan.user_name %>
</p>

<p>
  <b>Is admin:</b>
  <%= @fan.is_admin %>
</p>


<%= link_to 'Edit', edit_fan_path(@fan) %> |
<%= link_to 'Back', fans_path %>
