<h1>Listing franchises</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Season</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @franchises.each do |franchise| %>
  <tr>
    <td><%= franchise.name %></td>
    <td><%= franchise.season %></td>
    <td><%= link_to 'Show', franchise %></td>
    <td><%= link_to 'Edit', edit_franchise_path(franchise) %></td>
    <td><%= link_to 'Destroy', franchise, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Franchise', new_franchise_path %>
